<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Sample</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="format-detection" content="telephone=no">

</head>

<body data-ng-app="App">
    <div data-ng-view style="height:100%"></div>

    <script src="assets/common/lib/angular/angular.min.js"></script>
    <script src="assets/common/lib/angular/angular-resource.min.js"></script>
    <script src="assets/common/lib/angular/angular-route.min.js"></script>
    <script src="assets/common/lib/angular/angular-sanitize.min.js"></script>

	<script src="assets/app.js"></script>
    <script src="assets/common/service/webApiService.js"></script>

    <div  data-ng-controller="sample as ctrl">
        <div>
            <button data-ng-click="ctrl.getButton()">GETTEST</button>
        </div>
        <div>
            <button data-ng-click="ctrl.postButton()">POSTTEST</button>
        </div>
    </div>
    
    <script>

angular.module('App').controller('sample',
    function (webApiService) {

        this.getButton = function () {

            var result = webApiService.get('Values', {  }
            ,function (response) {
                if('value' in response){
                    alert('value:' + response.value);
                }
            });
        }

        this.postButton = function () {

            var result = webApiService.post('Values', {value:'test',param:'1' }
            ,function (response) {
                var message = '';
                for(key in response.value){
                    message  += (key + "=" + response.value[key]);
                    message  += "\n"
                }
                alert(message);
            });
        }
    }
);
   
    </script>
</body>

</html>